* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    font-size: 0px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.sq {
    display:inline-block;
    height: 46px;
    width: 46px;
    margin: 1px;
    border: 1px solid;
    border-color: #818897;
    font-size: 10px;
    color: black;
    text-align: center;
    vertical-align: top;
}

.sq > span {
    color: #211dac;
    font-size: 16px;
    font-weight: bold;
    display:block;
    margin: 2px;
}

#row1brk {
    background-color: lightgrey;
    border-color: lightgrey;
    color: red;
    width:746px;
}

.row2_3brk {
    background-color: lightgrey;
    border-color: lightgrey;
    color: red;
    width:496px;
}
.hidn {
    background-color: lightgrey;
    border-color: lightgrey;
    color: red;
    font-size: 11px;
    height: 26px;
    padding: 10px 0px;
}


.blue {
    background-color: #679bff;   
}

.pink {
    background-color: #fd9a98;   
}

.yellow {
    background-color: #fecb00;   
}


.green {
    background-color: #21ca21;   
}

#leftside {
    width:165px;
    display:inline-block;
    vertical-align: top;
}
#main_body {
    width: 805px;
    display: inline-block;
    vertical-align: top;
}

.lanth {
    width: 970px;
    padding: 20px 0px;
}

.lanthlabel {
    display:inline-block;
    height: 26px;
    padding: 20px 10px 0px 10px;
    width: 114px;
    margin: 1px;
    border: 1px solid;
    border-color: #818897;
    font-size: 10px;
    color: red;
    text-align: center;
    vertical-align: top;
    border: 0px;
}

.lanth > .hidn {
    width: 25px;
    text-align: right;
}